.form {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 829px;
    justify-content: center;
    margin: auto;
    padding: 0;
}

.forminput {
    display: flex;
    gap: 10px;
    margin: 0 80px auto auto;
}

.line {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
    margin: 50px auto auto auto;
}