.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 990px;
    justify-content: center;
    margin: auto;
    padding: 0;
}

.forminputvalue {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
}

.forminputindex {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
}

.button_max {
    min-width: 372px;
}

.button {
    min-width: 180px;
}

.line {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin: 90px auto auto auto;
}

.lineitem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.circle {
    padding: 0 15px;
}